cdbfapi-ios\*  linguist-language=ObjectiveC
cdbfapi-osx\*  linguist-language=ObjectiveC
cdbfapi-plus-demo\*  linguist-language=cpp
cdbfapiSharp\*  linguist-language=cs
cdbfapiSharpDemo\*  linguist-language=cs
c-example\*  linguist-language=c
createDBF\*  linguist-language=cs
delphi\*  linguist-language=delphi
grid-demo\*  linguist-language=cs
include\*  linguist-language=cpp
release\*  linguist-language=cpp
release64\*  linguist-language=cpp
